@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.main_body {
    margin: 0px 150px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_bar {
    margin-top: 30px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_1 {
    display: flex;

}

.ul_1 li {
    list-style: none;
}

.ul_1 a {
    text-decoration: none;
}

.a_home {
    color: #252432;
    size: 14px;
    font-weight: 700;
    margin-right: 48px;
}

.a_li {
    color: #8987A1;
    size: 16px;
    font-weight: 400;
    margin-right: 48px;
}

.fa-solid {
    margin-right: 10px;
}

.a_cart {
    color: #000000;
    size: 16px;
    font-weight: 400;
}

/* Header Section Starts*/
.main_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 120px;
    /* gap: 5px; */
}

.div_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p_1 {
    color: #E95A08;
    font-size: 65px;
    font-weight: 700;
}

.ff {
    margin-bottom: 13px;
}

.p_1_span {
    color: black;
}

.p_2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.div_2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Header Section Ends */
/* Plants Section Starts*/
.section_plants {
    margin-bottom: 210px;
}

.heading_area {
    text-align: center;
    margin-bottom: 49px;
}

.plants_title {
    color: #E95A08;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.plants_description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    /* max-width: 888px; */
    margin: 0px 200px;
}

.plants_title span {
    color: black;
}

.plants_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.plant_card {
    text-align: center;
    /* width: 100%; */
    /* max-width: 220px; */
}

.plant_card img {
    width: 100%;
    height: auto;
}

.plant_name {
    color: #111111;
    font-weight: 500;
    margin: 12px 0 4px;
}

.plant_price {
    color: #111111;
    font-weight: 700;
    margin-bottom: 12px;
    margin-bottom: 17px;
}

.add_to_cart {
    width: 100%;
    padding: 12px 0;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.add_to_cart a {
    text-decoration: none;
    color: white;
}

/* Plants Section Ends*/
/* Trusted Seller Section Starts */
.trusted_content {
    display: flex;
    gap: 60px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 133px;
}

.trusted_image_container {
    position: relative;
    flex: 1;
    width: 50%;

}

.first_image {
    width: 100%;
    height: 400px;
}

.trusted_badge {
    position: absolute;
    top: -75px;
    left: 80%;
    width: 170px;
    height: 170px;
}

.trusted_text {
    flex: 1;
    width: 50%;
}

.trusted_text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

.trusted_text ul {
    padding-left: 20px;
}

.trusted_text li {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    line-height: 1.6;
}

/* Trusted Seller Section Ends */
/* Latest Deals Section Starts */
.latest_deals_Section {
    margin-bottom: 120px;
}

.deals_div {
    text-align: center;
    margin-bottom: 120px;
}

.deals-container {
    display: flex;
    gap: 20px;
    height: 420px;
}

.deals-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.deal-card {
    flex: 1;
    border-radius: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.bloom {
    background-image: url('./assets/deal-bloom.png');
}

.ana {
    background-image: url('./assets/deal-ana.png');
}

.zabo {
    background-image: url('./assets/deal-zabo.png');
    width: 65%;
}
.zabo h3{
    font-size: 40px;
}
.zabo p{
    font-size: 28px;
}
/* Latest Deals Section Ends */
