@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.main_body {
    margin: 0px 150px;
}

.nav_bar {
    margin-top: 30px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_1 {
    display: flex;

}

.ul_1 li {
    list-style: none;
}

.ul_1 a {
    text-decoration: none;
}

.a_home {
    color: #252432;
    size: 14px;
    font-weight: 700;
    margin-right: 48px;
}

.a_li {
    color: #8987A1;
    size: 16px;
    font-weight: 400;
    margin-right: 48px;
}

.fa-solid {
    margin-right: 10px;
}

.a_cart {
    color: #000000;
    size: 16px;
    font-weight: 400;
}

/* header section */
.main_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 120px;
    /* gap: 5px; */
}

.div_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p_1 {
    color: #E95A08;
    font-size: 65px;
    font-weight: 700;
}

.ff {
    margin-bottom: 13px;
}

.p_1_span {
    color: black;
}

.p_2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.div_2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* header ends */
/* Plants section */
.section_plants{
    margin-bottom: 210px;
}
.heading_area {
    text-align: center;
    margin-bottom: 49px;
}

.plants_title {
    color: #E95A08;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}
.plants_description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    /* max-width: 888px; */
    margin: 0px 200px;
}

.plants_title span {
    color: black;
}

.plants_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;

}

.plant_card {
    text-align: center;
    /* width: 100%; */
    /* max-width: 220px; */
}

.plant_card img {
    width: 100%;
    height: auto;
}

.plant_name {
    color: #111111;
    font-weight: 500;
    margin: 12px 0 4px;
}

.plant_price {
    color: #111111;
    font-weight: 700;
    margin-bottom: 12px;
    margin-bottom: 17px;
}

.add_to_cart {
    width: 100%;
    padding: 12px 0;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    border: none;
}